---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";
import { getOptimizedImage } from "../utils/imageLoader";

const allProjects = await getCollection("projects");
const latestProjects = allProjects.slice(0, 3);

// Proses project dengan gambar
const projectsWithImages = latestProjects.map((project) => ({
  ...project,
  imageData: getOptimizedImage(project.data.image),
}));

const title = "Dimas - Data Enthusiast Portfolio";
const description = "Explore data projects and insights...";
---

<Layout title={title} description={description}>
  <main class="mt-32 mb-32 sm:mt-48">
    <!-- Hero Section -->
    <div
      id="hero"
      class="flex flex-col items-center justify-center gap-8 w-2/3 mx-auto text-center"
    >
      <h1 class="text-5xl sm:text-7xl text-black-alt font-extrabold">
        Explore the Data and Fun things with me.
      </h1>
      <h2 class="font-light text-md text-berkeley-blue w-2/3">
        I'm <b>Dimas</b>, a <i>data enthusiast</i> who loves to explore and visualize
        data to <i>uncover insights</i> and <i>tell compelling stories.</i>
      </h2>
      <div id="links" class="mt-8">
        <a
          href="https://t.me/dimadisaputra?text=Hey%2C%20how%20are%20you%3F"
          class="font-bold rounded-2xl bg-poppy text-white text-xl px-6 py-3 hover:bg-dark-purple hover:text-white transition duration-300"
        >
          Let's talk!
        </a>
      </div>
    </div>

    <!-- Projects Section -->
    <section id="projects" class="mt-32 sm:mt-48 w-4/5 mx-auto text-center">
      <h1 class="text-4xl font-bold text-black-alt mb-12">Projects</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {
          projectsWithImages.map((project) => (
            <ProjectCard
              title={project.data.title}
              description={project.data.description}
              image={project.imageData}
              slug={project.slug}
            />
          ))
        }
      </div>

      <div class="mt-12">
        <a
          href="/projects"
          class="font-light rounded-2xl border border-poppy text-poppy text-lg px-6 py-3 hover:bg-dark-purple hover:text-white transition duration-300"
        >
          more projects
        </a>
      </div>
    </section>
  </main>
</Layout>
